


#sat-orbit{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16rem;
    height: 16rem;
    margin-top: -8rem;
    margin-left: -8rem;
    transform-style: preserve-3d;
    animation-name: orbit;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

#sat{
    position: absolute;
    left: 100%;
    top: 50%;
    width: 3rem;
    height: 3rem;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
    background-color: #525e65;
    border-radius: 50%
}

@keyframes orbit {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}